.b-container{
    margin-bottom: 2rem;
}
.b-container .posts{
    width: 80%;
    margin: auto;
}
.b-container .posts{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.b-container .posts .post{
    display: flex;
    gap: 5rem;
}
.b-container .posts .post:nth-child(2n){
    flex-direction: row-reverse;
}
.b-container .posts .post .img {
    position: relative;
}
  
.b-container .posts .post .img img{
    width: 20rem;
    max-height: 20rem;
    object-fit: cover;
}

.b-container .posts .post .content h1,.b-container .posts .post .content p{
    color: black;
    text-align: left;
}
.b-container .posts .post .content .Link{
    text-decoration: none;
    background-color: rgb(0 133 102);
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
}